html {
    height: 100%;
}

body {
    display: grid;
    margin: 20px;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4.5rem auto 4.5rem;
}

header {
    background: blue;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
}

main {
    background: red;
    color: white;
    grid-column-start: 2;
}

aside {
    background: green;
    color: white;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer {
    background: purple;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
}